<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link rel="stylesheet" href="../stylesheets/index.css" />
  </head>
  <body>
    <div class="card">
      <h1 style="color: #fff"><%= age %></h1>
      <!-- we use ejs here to pass print out the value of age -->
      <div class="card-inner">
        <div class="card-front">
          <h2>Front of Card</h2>
        </div>
        <div class="card-back">
          <h2>Back of Card</h2>
        </div>
      </div>
    </div>
    <script src="/javascripts/index.js"></script>
  </body>
</html>
